.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.row {
  width: 100%;
  padding: 0;
  margin: 0;
}

.col{
  padding: 0;
  margin: 0;
}

.container-fluid{
  padding: 0;
}

div{
  width: 100%;
}

body{
  font-family: Fira Sans, sans-serif;
}

.try-button{
  width: 120px;
  height: 40px;
  background-color: #85C020;
  border: 0;
}

.try-button:hover{
  color: #85C020;
  background-color: #ffffff;
  border: 2px solid #85C020
}

.try-button:focus{
  color: white;
  background-color: #85C020;
  border: 2px solid #91d420;
}

#input{
  width: 200px;
  height: 140px;
  border: 0;
  resize: none;
}

#input:focus{
  border: 0;
}

#input-title{
  margin-top: 40%;
  color: #4B4B4C;
}

#ingr-col{
  margin-top:12%;
  margin-left: 0;
}

#result-table{
  border:solid  1px gainsboro;
}

.entry-col{
  border-right:solid 1px gainsboro;
}